footer{
  font-weight: 200;
  width: 80%;
  background-color: #8E8D8A;
  margin: 0 auto;
  padding: 40px 20px;
  color: lightgrey;
}

footer h3{
  color: lightgrey;
}

footer .contact_details, footer .social_menu{
  display: inline-block;
  width: 47%;
}

footer .social_menu{
  text-align: right;
  float: right;
  padding-top: 10px;
}

footer .social_menu a{
  padding: 5px 10px;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

footer .copyright{
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
}

footer ul{
  list-style: none;
}

footer li{
  margin: 10px 0;
  width: 100px;
  border-bottom: solid 1px lightgrey;
  padding-bottom: 15px;
}

footer a {
  font-size: 16px;
  color: lightgrey;
  text-decoration: none;
}

footer a:hover{
  background-color: #E98074;
  color: white;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  transition: .2s linear;
}

footer .up{
  float: right;
  width: 50px;
  text-align: center;
  margin-top: -30px;
  font-size: 30px;
}
