nav{
  background-color: #8E8D8A;
}

.product_cards_container{
  text-align: center;
}

.product_card{
  word-wrap: break-word;
  border: solid 1px lightgrey;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  opacity: .7;
  overflow: hidden;
  padding: 0;
}

.product_card .title{
  min-height: 60px;
  padding-top: 10px;
  font-size: 20px;
  margin: 0px 28px;
  word-break: break-word;
  display: inline-flex;
  text-align: left;
  padding-bottom: 20px;
}

.product_card .image{
  min-height: 90px;
}

.product_card .image img{
  width: 100%;
  height: 256px;
}

.product_card:hover{
  transform: scale(1.025);
  transition: transform .2s;
  opacity: 1;
}
